1. Simple Structure

In [29]:
import pandas as pd
import os
import json

In [ ]:

# HINTS
path = 'destination/json'
simple_json_file_path = "simple_structure.json"
# 1. Use pandas.read_json()
df = pd.read_json(simple_json_file_path)
os.makedirs(path,exist_ok=True)
# 2. Export to CSV as path: 'destination/json'
df.to_csv(f'{path}/simple_structure.csv')

2. Multiple Level

In [ ]:

# HINTS
# 1. Use pandas json_normalize to read data from record_path
# 2. Export to CSV as path: 'destination/json'

multiple_level_json_file_path = "multiple_level.json"

f = open(multiple_level_json_file_path,'r')
data = json.load(f)
# print(data)
df = pd.json_normalize(data,record_path='students')
df.to_csv(f'{path}/multiple_level.csv')

{'school_name': 'Dunder Miflin', 'class': 'Year 1', 'students': [{'id': 'A1', 'name': 'Jim', 'math': 60, 'physics': 66, 'chemistry': 61}, {'id': 'A2', 'name': 'Dwight', 'math': 89, 'physics': 76, 'chemistry': 51}, {'id': 'A3', 'name': 'Kevin', 'math': 79, 'physics': 90, 'chemistry': 78}]}

3. Nested Levels

In [55]:
# HINTS
nested_level_json_file_path = "nested_level.json"
# Approach 1: use record_path + meta
# 1. Open the load JSON into dictionary 
f = open(nested_level_json_file_path,'r')
data = json.load(f)
# print(data)
# 2. Use pandas json_normalize to read data from record_path
df = pd.json_normalize(data,record_path='students',meta=['school_name',['class','level'],['class','room'],['class','teacher']])
df.head()
# 3. Export to CSV as path: 'destination/json'
# df.to_csv(f'{path}/nested_level.csv')

,id,name,grade.math,grade.physics,grade.chemistry,school_name,class.level,class.room,class.teacher
0,A1,Jim,60,66,61,Dunder Miflin,12,K1.01,John
1,A2,Dwight,89,76,51,Dunder Miflin,12,K1.01,John
2,A3,Kevin,79,90,78,Dunder Miflin,12,K1.01,John

In [ ]:
# HINTS
# Approach 2: Read seperately and cross join
# 1. Open the load JSON into dictionary 
# 2. Use pandas json_normalize to read data from record_path
# 3. Export to CSV as path: 'destination/json'